body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
  }
  
  h1, h4 {
    color: #333;
  }
  
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5e35b1;
  }
  