/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #1abc9c;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #16a085;
  }
  